<a href="https://colab.research.google.com/github/Adarsha9845/Possible-Combination-of-Generator-Outage/blob/main/Possible_Combination_of_Generation_unit_Outage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
def sumOperation(array1, array2):
  output = []

  for num in array2:
      temp = []
      for element in array1:
          temp.append(element + num)
      output.append(temp)

  # Print the output array
  # for row in output:
  #     print(" ".join(map(str, row)))
  return output

In [3]:
def multiplyOperation(array1, array2):
  output = []

  for num in array2:
      temp = []
      for element in array1:
          temp.append(element * num)
      output.append(temp)

  # Print the output array
  # for row in output:
  #     print(" ".join(map(str, row)))
  return output

In [4]:
def flatten_out(output1, output2):
  flattenOutput2 = np.array(output2).reshape((-1, 1))
  flattenOutput1 = np.array(output1).reshape((-1, 1))
  return flattenOutput1, flattenOutput2

In [5]:
def findUnique(Array1, Array2):
  averaged_dict = {}

  # Iterate over Array1 and Array2 simultaneously
  for val1, val2 in zip(Array1, Array2):
      # Convert val1 to a scalar
      val1_scalar = val1.item()
      # If val1 already exists in the dictionary, append val2 to its list
      if val1_scalar in averaged_dict:
          averaged_dict[val1_scalar].append(val2.item())
      # If val1 is encountered for the first time, create a new list with val2
      else:
          averaged_dict[val1_scalar] = [val2.item()]

  averaged_values = np.zeros_like(Array1, dtype=float)

  for key, value in averaged_dict.items():
      averaged_values[np.where(Array1 == key)] = np.mean(value)

  return averaged_values

In [6]:
def mergeArray(Array1, Array2):
  # Merge the arrays
  merged_array = np.concatenate((Array1, Array2), axis=1)

  # Eliminate duplicate rows
  unique_rows = np.unique(merged_array, axis=0)

  # print(unique_rows)
  return unique_rows

In [7]:
capOut1 = np.array([0, 5, 10, 15])
capOut2 = np.array([0, 5, 10, 15, 20])
prob1 = np.array([0.96, 0.03, 0.01, 0.08])
prob2 = np.array([0.94, 0.04, 0.01, 0.01, 0.08])
output1 = sumOperation(capOut1, capOut2)
output2 = multiplyOperation(prob1, prob2)
flattenOutput1, flattenOutput2 = flatten_out(output1, output2)
uniqueValues = findUnique(flattenOutput1, flattenOutput2)
finalArray = mergeArray(flattenOutput1, uniqueValues)

In [8]:
print(finalArray)

[[0.00000000e+00 9.02400000e-01]
 [5.00000000e+00 3.33000000e-02]
 [1.00000000e+01 6.73333333e-03]
 [1.50000000e+01 2.13750000e-02]
 [2.00000000e+01 2.01000000e-02]
 [2.50000000e+01 1.10000000e-03]
 [3.00000000e+01 8.00000000e-04]
 [3.50000000e+01 6.40000000e-03]]